<div id="adminEditor" style="display: none;">
	
         	
	<div id="rightAdminSplitterContainer" style="height:95%">
		<div id="adminRightTopPane">
	        <div id="adminTabs">
                <ul>
                <li id="adminTabHeader_1">Overview</li>
                <li id="adminTabHeader_2">Users</li>
                <li id="adminTabHeader_3">Dbs</li>
                <li id="adminTabHeader_4">Jobs</li>
                </ul>
        </div>
       <div id="adminTabscontent" style="height: 100%">
            <div class="adminTabpage" id="adminTabpage_1" style="height:100%">
                <div id="overviewControls">    
                    <span class="labelText">Command:</span> <select data-bind="options:commands, value:selectedCommand"></select>
                      <button id="executeCommand"><img src="/images/execute.png" alt="execute query"/></button>  
                    <div id="adminServerSelect">  
                         <span class="labelText">Server:</span> 
                         <input type="text" placeholder="use server" data-bind="value: adminSelectedServer"/>
                     </div>
                    <div id="adminDbselect">
                     <span class="labelText">Db:</span>  
                        <input type="text" placeholder="use db" data-bind="value: adminDb"/>
                   </div>
                 <!-- <div id="adminColselect">
                     <span class="labelText">Col:</span>  
                        <input type="text" placeholder="collection" data-bind="value: adminCol"/>
                   </div>-->
               </div>
                
                <div id="overviewResults">
                 
<textarea style="resize:none; width: 95%; height: 100%" data-bind="value:adminResult">
                
</textarea>
                
</div>
   
           </div>
           <div class="adminTabpage" id="adminTabpage_2" style="height:100%">
                <div id="userControls" style="display: none"></div>
                <span class="labelText">Command:</span> <select data-bind="options:userCommands, value:selectedUserCommand"></select>
                      <button id="executeUserCommand"><img src="/images/execute.png" alt="execute"/></button>  
               <div style="width: 100%; height: 100%;"></div>
           </div>
            <div class="adminTabpage" id="adminTabpage_3" style="height:100%">
                <div id="dbControls" style="display: none"></div>
                    <span class="labelText">Command:</span> <select data-bind="options:dbCommands, value:selectedDbCommand"></select>
                      <button id="executeDbCommand"><img src="/images/execute.png" alt="execute"/></button>  
               <div style="width: 100%; height: 100%;"></div>
           </div>
            <div class="adminTabpage" id="adminTabpage_4" style="height:100%">
                <div id="jobControls">
                     <span class="labelText">Command:</span> <select data-bind="options:jobCommands, value:selectedJobCommand"></select>
                     </div>
               <div id="backup" class="adminJobContainer">
                   <span class="labelText">Options</span>
                      <div class="adminField">
                  <span class="labelText">Type:</span>  <select data-bind="options:backupTypes, value:selectedBackupType"></select>

                   </div>
                   <span class="labelText">Schedule</span>
                   <div class="adminField">
                <span class="labelText">Backup:</span>
                       <select data-bind="options:backupIntervals, value:selectedBackupInterval"></select> at 
                       <select data-bind="options:backupHours, value:selectedHourInterval"></select>
                      <span class="labelText"> UTC</span>

                   </div>
                    <span class="labelText">Execute</span>   <button id="executeJobCommand"><img src="/images/execute.png" alt="execute"/></button>  
               </div>
                 <div id="restore" style="width: 100%; height: 100%; display: none">
                   <span class="labelText">Options</span>
                      <div class="adminField">
           

                   </div>
              
               </div>
           </div>
        </div>
		</div>
    
			
		</div>
   </div>
