<div id="adminEditor" style="display: none;">
	
         	
	<div id="rightAdminSplitterContainer" style="height:95%">
        <div id="adminTb" style="background: #bac8dc">
        <div id="adminServerSelect">  
                         <span class="labelText">Server:</span> 
                         <input type="text" placeholder="use server" data-bind="value: adminSelectedServer"/>
                     </div>
                    <div id="adminDbselect">
                     <span class="labelText">Db:</span>  
                        <input type="text" placeholder="use db" data-bind="value: adminDb"/>
                   </div>
        </div>

		<div id="adminRightTopPane">
	        <div id="adminTabs">
                <ul>
                <li id="adminTabHeader_1">Overview</li>
                <li id="adminTabHeader_2">Users</li>
                <li id="adminTabHeader_3">Dbs</li>
                <li id="adminTabHeader_4">Jobs</li>
                </ul>
        </div>
       <div id="adminTabscontent" style="height: 100%">
            <div class="adminTabpage" id="adminTabpage_1" style="height:100%">
                <div id="overviewControls">    
<div style="float:left">
                    <span class="labelText">Command:</span>
                  </div>
                    <div class="styled" style="float:left"> <select data-bind="options:commands, value:selectedCommand"></select></div>
                      <button id="executeCommand"><img src="/images/execute.png" alt="execute query"/></button>  
                    <!-- 
                 <div id="adminColselect">
                     <span class="labelText">Col:</span>  
                        <input type="text" placeholder="collection" data-bind="value: adminCol"/>
                   </div>-->
               </div>
                
                <div id="overviewResults">
                 
<textarea style="resize:none; width: 95%; height: 100%" data-bind="value:adminResult">
                
</textarea>
                
</div>
   
           </div>
           <div class="adminTabpage" id="adminTabpage_2" style="height:100%">
                <div id="userControls" style="display: none"></div>
               <div style="float:left"> <span class="labelText">Command:</span></div>
                <div class="styled" style="width:120px"> 
                  <select data-bind="options:userCommands, value:selectedUserCommand"></select></div>
               <div class="adminJobContainer">
                  <div id="adduser"> 
                   <div id="addUserContainer" style="float: left">
                       <span class="labelText">New Priviledge</span> <br/>
                  <input data-bind="{value:mUserName}" type="text" placeholder="user name"/>
                       <br /><input data-bind="{value:mPassword}" type="password" placeholder="password"/><br/>
                       <input id="passwordConfirm" data-bind="{value:mConfirmPassword}" type="password" placeholder="confirm password"/><br/>
                       <span id="validateStatus"></span>
                    </div>
                     <div id="roleDiv" style="float: left">
                          <span class="labelText">Roles</span>   <br />
                         <select multiple="multiple" data-bind="options:userRoles, selectedOptions:selectedRole"></select>
                         <button data-bind="{enable: mPassword() == mConfirmPassword()}"  title="add additional profile"  id="executeAdditionalProfile"><img src="/images/add-icon.png" alt="execute"/></button>  
                         <button data-bind="{enable: mPassword() == mConfirmPassword()}"  title="commit all user profiles" id="executeUserCommand"><img src="/images/execute.png" alt="execute"/></button>  
                     </div>
                   <hr style="clear: both" data-bind="visible:profiles().length > 0"/>
                   <div  id="savedProfile" data-bind="foreach: profiles">
                      <p>
                      <span class="labelText">User:</span><input data-bind="{value:username}" type="text"/><br />
                     <span class="labelText">Server:</span><input data-bind="{value:server}" type="text"/><br />
                     <span class="labelText">Db:</span><input data-bind="{value:db}" type="text"/><br />
                     <span class="labelText">Roles:</span><input data-bind="{value:flatRoles}" type="text"/>
                      </p>
                   </div>
                   </div>
                      <div id="modifyUser" style="display: none">
                   <span class="labelText">Load Users:</span> <button id="loadUser"><img src="/images/refresh.png" alt="Load Users"/></button>
                <select style="min-width: 200px" multiple="multiple" data-bind="options:dbUsers, selectedOptions:selectedDbUsers"></select>
                  <button>delete</button>        
                     
               </div>
               </div>
            
           </div>
            <div class="adminTabpage" id="adminTabpage_3" style="height:100%">
                <div id="dbControls" style="display: none"></div>
                   <div style="float:left"> <span class="labelText">Command:</span></div><div class="styled" style="width:120px; float:left">  <select data-bind="options:dbCommands, value:selectedDbCommand"></select></div>
                      <button id="executeDbCommand"><img src="/images/execute.png" alt="execute"/></button>  
              <div style="width: 100%; height: 100%;"></div>
           </div>
            <div class="adminTabpage" id="adminTabpage_4" style="height:100%">
                <div id="jobControls">
                    <div style="float:left"><span class="labelText">Command:</span></div> <div class="styled" style="width:120px; float:left"> <select style="width:120px" data-bind="options:jobCommands, value:selectedJobCommand"></select></div>
                     </div>
               <div id="backup" class="adminJobContainer">
                   <span class="labelText">Options</span>
                      <div class="adminField">
                  <div style="float:left"> <span class="labelText">Type</span> </div> <div class="styled" style="width:120px;"> <select style="width:120px" data-bind="options:backupTypes, value:selectedBackupType"></select></div>

                   </div>
                   <span class="labelText">Schedule</span>
                   <div class="adminField" style="height:33px">
                <div style="float:left"> <span class="labelText">Backup</span></div>
                      <div class="styled" style="width:120px; float:left">  <select style="width:120px" data-bind="options:backupIntervals, value:selectedBackupInterval"></select></div><div style="float:left; padding:5px"> at</div> 
                      <div class="styled" style="width:120px; float:left">  <select style="width:120px" data-bind="options:backupHours, value:selectedHourInterval"></select></div>
                      <span class="labelText" style="padding:5px"> UTC</span>
                   </div>
                    <div style="clear: both"></div>
                    <span class="labelText">Execute</span>   
                   <button id="executeJobCommand"><img src="/images/execute.png" alt="execute"/></button>  
               </div>
                 <div id="restore" style="width: 100%; height: 100%; display: none">
                   <span class="labelText">Options</span>
                      <div class="adminField">
           

                   </div>
              
               </div>
           </div>
        </div>
		</div>
    
			
		</div>
   </div>
