<div id="documentPanel" style="display: none">
	<section class="dox-results">
        <div unselectable="on" class="unselectable">
                 Collection: <b><span data-bind="text:currentCollection"></span></b>
        Hover for Preview | Click to Edit | Right Click to "stick" preview.
        </div>
     
            <div data-bind="foreach: documentResults">						
                <div class="rpThumbnail">
            <div style="height: 20px; padding-top: 8px">
                 <span class="idLabel" data-bind="text:id"></span>
            </div>
             
                         <ul>
                          
                                 <li>
                                        
                                	 <a href="#" data-bind="click:$root.documentSelected, event: {contextmenu:$root.stickPreview, mouseover: $root.toggleOver, mouseout: $root.toggleOut }">
                                     <img alt="mongo image" width="133px" height="140px" src="/images/mongoico.png" />
                                     </a>
                                    
                                 </li>
                         
                             
                              </ul>
                   
						</div>
                 <div  style="width: 5px; height: 5px; float: left"></div>
                    </div>	
					
				</section>
</div>
