<div id="rightPane" data-bind="visible: visible" style="display: none">
	<div class="editorControls" style="background: #bac8dc">
      <span class="labelText">Server:</span> <select data-bind="options:servers, value:selectedServer"></select>
     <button class="queryButton" id="newQuery"><img src="/images/query.png" alt="new query"/></button>
        <button class="queryButton" id="openQuery"><img src="/images/folder.png" alt="open query" /></button>
        <button class="queryButton" id="saveQuery"><img src="/images/save.png" alt="save query" /> </button> 
         <button class="queryButton" id="executeQuery"><img src="/images/execute.png" alt="execute query"/></button>    
        <button class="queryButton" id="cancelQuery"><img src="/images/cancel.png" alt="cancel query"/></button>
        <button class="queryButton" id="newcol"><img src="/images/newcol.png" alt="new collection"/></button>
           <button class="queryButton" id="rename"><img src="/images/rename.png" alt="rename collection"/></button>
      <br />  
      <span class="labelText">&nbsp;</span>  <input type="text" placeholder="use db" data-bind="value: db"/>
    </div>
         	
	<div id="rightSplitterContainer" style="height:95%">
			<div id="rightTopPane">
	 <div id="tabs">
      <ul>
        <li id="tabHeader_1">Query 1</li>
      </ul>
    </div>
    <div id="tabscontent" style="height: 100%">
      <div class="tabpage" id="tabpage_1" style="height:100%">
          <div  id="code_1"  style="width: 100%; height: 100%;"></div>
      </div>

    </div>
			</div>
			<div id="rightBottomPane">
				<!--<h3>Results</h3> we'll bind tab name here to make clear wha results are showing-->
                <!--we'll also add an option to pop out results and to go to document manager-->
                <div id="documentResult" style="display: none" data-bind="visible: displayDocumentResult">
                  <% include documentPanel.html%>
                </div>
                <div id="diagnosticResult" style="display: none">
                 <textarea style="width: 100%; height: 100%">
                </textarea>
                </div>
               
			</div>
		</div>
   <div id="docoverlay" style="display: none">
     <div class="docPreviewcontainer"> 
              <div style="padding-top: 15px;">
                   <label class="formlabel"> &nbsp;&nbsp;Document:</label> <span data-bind="text:currentId"></span>
                       <!--<input data-bind="value:server" maxlength="75" class="required"/>-->
               </div>
       
                  <textarea id="docPreviewTextArea" data-bind="value:jsonPreview"></textarea>
              <p></p>
                
     </div>
    </div>
   </div>
