<div id="replicationEditor" style="display: none;">
	<div class="replicationControls" style="background: #bac8dc">
      <p>controls</p>
    </div>
         	
	<div id="rightReplicationSplitterContainer" style="height:95%">
			<div id="replicationRightTopPane">
	<p>query....</p>
          <div  id="replicationCode"  style="width: 100%; height: 100%;"></div>
   
			</div>
			<div id="replicationRightBottomPane">
               <p>replication</p>
                <div>
                   <p>results</p> 
                 <textarea style="width: 100%; height: 100%">
                </textarea>
                </div>
               
			</div>
		</div>
   </div>
