<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mongo Management Studio</title>

<link type="text/css" href="/styles/mainStyle.css" rel="stylesheet"></link>
      <link type="text/css" href="/script/resources/toastr.css" rel="stylesheet"></link>

    </head>
    <body>
        <div id="overlay" style="display: none"></div>
        <div id="header">
            <% include /partials/controlPanel.html %>
        </div>

         	<div role="main" id="splitterContainer">
                    <div id="leftPane">
			    <% include partials/serverExplorer.html %>
            </div>
                 <div id="rightPane">
             <% include partials/admin.html %>
                <% include partials/queryEditor.html %>
                 
               </div>

	      </div>
      
     <% include partials/documentEditor.html %>
    </body>
             <script src="/script/resources/jquery-1.8.1.min.js"></script>
        <script src="/script/resources/knockout-2.2.0.js"></script>
        <script src="/script/resources/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
       <script src="/script/resources/splitter.js"></script>
         <script src="/script/resources/jquery.jstree.js"></script>
        <script src="/script/app/pubsub.js"></script>
        <script src="/script/resources/sammy.min.js"></script>
        <script src="/script/resources/require.js"></script>
        <script src="/script/resources/toastr.js"></script>
         <script src="/script/resources/base64.js"></script>
          <script src="/script/app/config.route.js"></script>
        <script src="/script/app/vm.queryEditor.js"></script>
        <script src="/script/app/vm.serverExplorer.js"></script>
        <script type="text/javascript" src="/script/app/pubsub.js"></script>
         <script src="/script/app/bootstrapper.js"></script>
        <script src="/script/app/binder.js"></script>
        <script src="/script/app/main.js"></script>


</html>

