 @font-face {font-family: 'Populaire';src: url('../fonts/1D219C_0_0.eot');src: url('../fonts/1D219C_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/1D219C_0_0.woff') format('woff'),url('../fonts/1D219C_0_0.ttf') format('truetype'),url('../fonts/1D219C_0_0.svg#wf') format('svg');}

html, body{
height:100%;
width: 100%;
min-height: 100%;
position: absolute;
margin:0;
padding:0;
overflow: hidden;
background:#c4dcfb;
color: #333333;
font-family: 'Arial Narrow', sans-serif;
font-size: 95%;
}
h2{ 
	margin-bottom:10px;
}
ul, li {
    list-style-type: none;
}
  input, select, textarea {
    margin:0; padding:0; font-size:0.85em; outline:none;
    font-family:inherit;  
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    box-sizing:border-box;
  }

  input[type="text"],input[type="password"], textarea, select, div.styled, input[type="file"] {  
    width:12em; border-radius:2px; border: solid 1px #ccc; padding:0.4em;}
  
  div.styled, select, input[type="submit"], input[type="button"], 
  input[type="file"]:after {
    background: white url(/images/formelements-select.png) no-repeat center right;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);} 
  
  input[type="text"], input[type="password"], textarea, input[type="file"] { 
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);}
  
    .ie9 input[type="text"],input[type="password"] { line-height:normal; } /* Get the stuff to line up right */
  
  textarea { width:100%; height:10em; }
  
  /* For IE and Firefox */

  div.styled { overflow:hidden; padding:0; margin:0; }
    
    .ie7 div.styled {border:none;}

  div.styled select { 
    width:115%; background-color:transparent; background-image:none;
    -webkit-appearance: none; border:none; box-shadow:none;}
    
    .ie7 div.styled select {
      width:100%; background-color:#fff; border: solid 1px #ccc; 
      padding:0.3em 0.5em;} 
 
  input[type="radio"], 
  input[type="checkbox"] { position: absolute; left: -999em; }
    
  label:before { 
    display: inline-block; position: relative; top:0.25em; left:-2px; 
    content:''; width:25px; height:25px;
    background-image:url(/images/formelements.png); }
  
 input[type="checkbox"] + label:before { background-position: 0 -25px;}
  input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }
     
  input[type="radio"] + label:before { background-position: -25px -25px;}   
  input[type="radio"]:checked + label:before { background-position: -25px 0;}
  
    /* Remove the custom styling for IE 7-8 */
    
    .ie8 label:before { display:none; content:none; }
    
    .ie8 input[type="checkbox"],
    .ie8 input[type="radio"],
    .ie7 input[type="checkbox"],
    .ie7 input[type="radio"]{ 
      position: static; left:0; }
    
    .ie8 input[type="checkbox"],
    .ie8 input[type="radio"] { 
      position:relative; top:5px; margin-right:0.5em;}  
      
  input[type="text"]:focus, textarea:focus {
    border-color:#000;
    }

  @media screen and (max-width: 600px) { 
    body { width:80%; font-size:15px; } 
  }

  @media screen and (max-width: 400px) { 
    input[type="text"], textarea, select, div.styled { width:100% } 
  } 

 /*  
   Splitter Content  
 
 */
#header{
     background:#c4dcfb;
     height:5%;
     
 }

 #serverTree{
    font-family: Populaire, arial; 
    font-size: 20px; 
 }

#queryEditor{
     height:95%;
width:100%;
margin:0;
padding:0;
 }

#splitterContainer {

padding:0;
 margin: 0;
height:100%;
min-height: 100%
 display: -moz-flex;
display: -webkit-flex;
 display: flex;
}
#leftPane{
float:left;
width:15%;
height:100%;
border-top:solid 1px #9cbdff;
background:#c4dcfb;
/*overflow: auto;*/
}
#rightPane{	
float: right;
/*position: fixed;*/
width:85%;
height:100%;
background:#f4f4f4;
}
#rightSplitterContainer{
width:100%;
height:95%;
background:#FFFFFF;
border-top:solid 1px #9cbdff;
} 

#rightTopPane{
width:100%;
height:50%;
overflow:auto;
background:#f4f4f4;
}
#rightBottomPane{
background:#f4f4f4;
width:100%;
overflow:auto;
}

/*
     admin
*/
 #adminEditor{
     height:95%;
width:100%;
margin:0;
padding:0;
 }
  #adminControls{
     height:5%;
     min-height:55px;
     background-color: #c4dcfb;
    /*background-color:*/
 }
 #adminRightSplitterContainer{
width:100%;
background:#FFFFFF;
border-top:solid 1px #9cbdff;
} 

#adminRightTopPane{
width:100%;
height:100%;
overflow:auto;
background:#f4f4f4;
}
#adminRightBottomPane{
background:#f4f4f4;
width:100%;
overflow:auto;
}
 #overviewResults{
     height: 80%;
 }
 .adminField{
     background-color: #ffffff;

 }
 .adminJobContainer{
    width: 70%; 
    height: 100%; 
    margin: auto; 
    background-color: #f4f4f4 ;
    -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
 }
 /*
     profile
 */
 #profileEditor{
     height:95%;
width:100%;
margin:0;
padding:0;
 }
  #profileControls{
     height:5%;
     min-height:55px;
     background-color: #c4dcfb;
 }
 #profileRightSplitterContainer{
width:100%;
background:#FFFFFF;
border-top:solid 1px #9cbdff;
} 

#profileRightTopPane{
width:100%;
height:50%;
overflow:auto;
background:#f4f4f4;
}
#profileRightBottomPane{
background:#f4f4f4;
width:100%;
overflow:auto;
}
 
 /*
     replication
 */
 #replicationEditor{
     height:95%;
width:100%;
margin:0;
padding:0;
 }
  #replicationControls{
     height:5%;
     min-height:55px;
     background-color: #c4dcfb;
 }
 #replicationRightSplitterContainer{
width:100%;
background:#FFFFFF;
border-top:solid 1px #9cbdff;
} 

#replicationRightTopPane{
width:100%;
height:50%;
overflow:auto;
background:#f4f4f4;
}
#replicationRightBottomPane{
background:#f4f4f4;
width:100%;
overflow:auto;
}
 

 #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    text-align: center;
}
 .signinoverlay{
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
 }
 .modalcontainer {
  /*margin: 20px auto 50px;*/
   font-family: Populaire, arial; 
   font-size: 22px;
  position:absolute; 
  margin-left: 35%;
  top:50%; 
  margin-top:-5em;
  width: 30%;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
  z-index: 10001;
}
 .modalcontainer label{
     width: 100px;
     display: inline-block;
 }
 .modalcontainer input{
  width: 250px; 
  height: 24px;
  border: 1px solid #ccc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

 }

 /*doc detail hover from tree*/
 #colStatsOverlay{
   position:absolute;    
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
   z-index: 10001;
 }
 #statPreviewTextArea{
      display: block;
    margin-left: auto;
    margin-right: auto;
     width: 90%; 
     height: 100%; 
     min-height:400px;
     -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; 
 }
   .colPreviewContainer {
  font-family: Populaire, arial; 
  font-size: 22px;
  position:absolute; 
  margin-left: 25%;
  top:10%;
  width: 400px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
  z-index: 10001;
 
}
 
 /*doc preview hover*/
#docoverlay{
   position:absolute;    
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
   z-index: 10001;
 }
   .docPreviewcontainer {
  /*margin: 20px auto 50px;*/
  font-family: Populaire, arial; 
  font-size: 22px;
  position:absolute; 
  margin-left: 25%;
  top:10%;
  width: 400px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
  z-index: 10001;
 
}
 #docPreviewTextArea{
      display: block;
    margin-left: auto;
    margin-right: auto;
     width: 90%; 
     height: 100%; 
     min-height:400px;
     -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; 
 }
 *.unselectable {
  background-color: #bac8dc;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}
 /*new/rename collection overlay*/
 .createOverlay{
   position:absolute;    
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
   z-index: 10001;

 }
   .createContainer {
  /*margin: 20px auto 50px;*/
  font-family: Populaire, arial; 
  font-size: 22px;
  position:absolute; 
  margin-left: 25%;
  top:10%;
  width: 260px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
  z-index: 10001;
 
}
 
/* Splitbar styles; these are the default class names and required styles */
.splitbarV {
float:left;
width:6px;
height:100%;
line-height:0px;
font-size:0px;
border-left:solid 1px #9cbdff;
border-right:solid 1px #9cbdff;
background:#cbe1fb url(../images/panev.gif) 0% 50%;
}
.splitbarH {
height:6px;
text-align:left;
line-height:0px;
font-size:0px;
border-top:solid 1px #9cbdff;
border-bottom:solid 1px #9cbdff;
background:#cbe1fb url(../images/paneh.gif) 50% 0%;
}

.splitbuttonV{
margin-top:-41px;
margin-left:-4px;
top:50%;
position:relative;
height:83px;
width:10px;
background:transparent url(../images/panevc.gif) 10px 50%;
}
.splitbuttonV.invert{
margin-left:0px;
background:transparent url(../images/panevc.gif) 0px 50%;
}
.splitbuttonH{
margin-left:-41px;
left:50%;
position:relative;
height:10px !important;width:83px;
background:transparent url(../images/panehc.gif) 50% 0px;
}
.splitbuttonH.invert{
margin-top:-4px;
background:transparent url(../images/panehc.gif) 50% -10px;
}
.splitbarV.working,.splitbarH.working,.splitbuttonV.working,.splitbuttonH.working{
 -moz-opacity:.50; 
 filter:alpha(opacity=50); 
 opacity:.50;
}
 
 /*
 Main Control/Navigation Panel    
 */
 #html-menu {
overflow:auto; 
margin:0px 0px 20px 0px;
}

.logo {
float:left;
}
.mainNavigation{
   font-family: Populaire, arial; 
   margin: 0px   
 }
.mainNavigation li {
display:inline; 
padding-left: 1px;
padding-right: 1px;
font-size:24px;
color:#373737;
}
.mainNavigation li a {
color:#373737;
 text-decoration: none;
}
 .mainNavigation li:hover{
    color:#949494; 
   cursor:hand;
   cursor: pointer; 
 }

.selectedNav{
   color:#949494;
   text-decoration: underline;
 }
 /* 
  Query Panel Control Panel    
 */
 .labelText{
   font-family: Populaire, arial; 
   font-size: 18px; 
   display: inline-block;
   min-width: 50px; 
 }
 #editorControls{
     height:5%;
     min-height:55px;
     background-color: #c4dcfb;
    /*background-color:*/
 }
/*
  Document Panel   
*/
.dox-results {
clear: none;
} 
 .rpThumbnail {
float: left;
display: inline block;
background: #d6cbb8 url(/images/footer-bg.jpg) repeat;
border-radius: 6px;
moz-border-radius: 6px;
width: 138px;
height: 182px;
line-height: 0;
margin-bottom: 1em;
position: relative;
overflow: hidden;
}
.idLabel{
     font-size: 12px;
      width: 125px;
     overflow:hidden; 
     text-overflow:ellipsis; 
    white-space:nowrap; 
 }
.rpThumbnail img {
max-width: 135px;
padding: 2px;
display: block;
position: absolute;
top: 22px;
left: 0px;
height: auto;
z-index: 9;
}
.rpDetails {
	/*text-align: center;*/
	padding: 10px 10px 0 10px;
}

.rpDetails h4 {
	line-height: 1.5em;
	font-size: 1.4em;
	font-family: 'Droid Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: #b9b3a5 -2px 1px 1px;
	color: #fff;
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
}


.rpDetails p {
	padding-top: 7px;
}

.rpDetails a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0;
	font-size: 0.8em;
}
.truncated { 
    /*display:inline-block;*/
    width: 40px;
     /*max-width:40px; */
     overflow:hidden; 
     text-overflow:ellipsis; 
    white-space:nowrap; 
 } 
 
 /***
   Document Editor  
     
 ***/
 #documentEditor{
     width: 50%; 
     margin: 0px auto;
 }
 #docEditorToolbar{
    width: 100%;
    height: 50px; 
    background:#bac8dc;
 }
 
 #formView{
     display: none;
     min-height: 300px;
     background-color: #F3F3F3;
     overflow: scroll;
 }
 #formView label{
     font-family: arial; 
    width: 150px;
    display: inline-block;
 }
 #formView input{
     border-radius: 5px;
     border: none; 
     height: 25px;
     min-width: 200px;
 }
 /* 
   Dox  Query Tabs
 */
 #tabs{
	height:30px;
    padding: 0;
    margin: 0;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
    padding: 0;
    margin: 0;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:5px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
    background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
  
}

#tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
   background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */

   
	cursor:pointer;
	color: #333;
}

#tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
}

 
  /* 
   Admin  Query Tabs
 */
 #adminTabs{
	height:30px;
    padding: 0;
    margin: 0;
	overflow:hidden;
}

#adminTabs > ul{
	font: 1em;
	list-style:none;
    padding: 0;
    margin: 0;
}

#adminTabs > ul > li{
	margin:0 2px 0 0;
	padding:5px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
    background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
  
}

#adminTabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#adminTabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
   background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */

   
	cursor:pointer;
	color: #333;
}

#adminTabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
}

.cancelbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:80px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #b23e35;
}
.cancelbutton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}.cancelbutton:active {
  position:relative;
  top:1px;
}

.confirmbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  box-shadow:inset 0px 1px 0px 0px #cae3fc;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color:#79bbff;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #469df5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:80px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #287ace;
}
.confirmbutton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color:#4197ee;
}.confirmbutton:active {
  position:relative;
  top:1px;
}

a.tip {
    border-bottom: 1px dashed;
    text-decoration: none
}
a.tip:hover {
    cursor: help;
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}
